// ==========  Button   ========== //

.button {
  position: relative;
  border-radius: 12px;
  font-size: 14px;
  height: 40px;
  padding: 0 16px 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 60px;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  outline: none;
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);

  &::before {
    border-radius: 4px;
    transition-duration: 300ms;
    transition-property: opacity;
    transform: none;
    will-change: opacity;
  }

  &::after {
    transition-timing-function: linear;
    transition-duration: 300ms;
  }

  &--active::before,
  &:hover::before,
  &:active::before,
  &:focus::before {
    opacity: 0.08;
  }

  &:active::after {
    opacity: 0.06;
  }

  // Child
  &__icon {
    display: inline-block;
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    margin-right: 8px;
    margin-left: 0;
    font-size: var(--button-icon-size);
    vertical-align: top;
    pointer-events: none;
    user-select: none;

    .button--raised &,
    .button--outlined &,
    .button--unelevated & {
      margin-left: -4px;
    }

    &--trailing {
      margin-right: 0;
      margin-left: 8px;

      .button--raised &,
      .button--outlined &,
      .button--unelevated & {
        margin-right: -4px;
        margin-left: 8px;
      }
    }
  }

  &[disabled],
  &--loading {
    --button-color: var(--md-sys-disable);

    pointer-events: none;
    cursor: default;
    box-shadow: none;

    &::after,
    &::before {
      display: none;
    }
  }

  &[disabled].button--raised,
  &--loading.button--raised {
    --button-color: var(--md-sys--color-disable);
    --button-background: var(--md-sys--color-disable);
  }
}
